@model Student;

<div>Add Student</div>

<form method="post" asp-action="Add">
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">First Name</label>
        <input asp-for="FirstName" class="form-control" id="studentFirstName">
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Last Name</label>
        <input asp-for="LastName" class="form-control" id="studentLastName">
    </div>

    <div class="mb-3">
        <label asp-for="GPA" class="form-label">GPA</label>
        <input asp-for="GPA" class="form-control" id="studentGPA">
    </div>

    <label asp-for="Course" class="form-label">Course</label>
     <select asp-for=Course class="form-select" aria-label="Select Course">
        <option selected value="BSIT">BSIT</option>
        <option value="BSCS">BSCS</option>
        <option value="BSIS">BSIS</option>
        <option value="OTHER">OTHER</option>
    </select>
@*     <select class="form-select-sm" asp-for="Course" asp-items="Html.GetEnumSelectList(typeof(Course))"></select>
 *@

    <div class="mb-3">
        <label asp-for="AdmissionDate" class="form-label">Admission Date</label>
        <input asp-for="AdmissionDate" class="form-control" type="date">
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Student Email</label>
        <input asp-for="Email" class="form-control" id="studentEmail">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
