@model Instructor;

<div>Add Instructor</div>

<form method="post" asp-action="Add">
@*     <div class="mb-3">
        <label asp-for="Id" class="form-label">Id</label>
        <input asp-for="Id" class="form-control" value="@ViewBag.increment" placeholder="@ViewBag.increment"> 
    </div> *@

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="IsTenured" class="form-label"></label>
        <div>
            <label asp-for="IsTenured" class="form-label">Yes</label>
            <input asp-for="IsTenured" type="radio" name="istenured" value="true" />
            <label asp-for="IsTenured" class="form-label">No</label>
            <input asp-for="IsTenured" type="radio" name="istenured" value="false" />
        </div>
    </div>

    <label asp-for="Rank" class="form-label"></label>
    <select asp-for=Rank class="form-select" aria-label="Select rank">
        <option selected value="">Select</option>
        <option  value="Instructor">Instructor</option>
        <option value="AssistantProfessor">AssistantProfessor</option>
        <option value="AssociateProfessor">AssociateProfessor</option>
        <option value="Professor">Professor</option>
    </select>
    @*     <select class="form-select-sm" asp-for="Course" asp-items="Html.GetEnumSelectList(typeof(Course))"></select>
    *@

    <div class="mb-3">
        <label asp-for="HiringDate" class="form-label"></label>
        <input asp-for="HiringDate" type="date" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
