@{
    ViewData["Title"] = "About Me";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
<section class="about-container box-shadow">
    <div>
        <h1>@ViewData["Title"]</h1>
        <h2>Email</h2>
        <p>nicole.oraya.cics@ust.edu.ph</p>
        <h2>Name</h2>
        <p>Nicole Oraya</p>
        <h2>Developer</h2>
        <a href="https://github.com/orayanics" target="_blank"><button>GitHub</button></a>
    </div>

    <div>
         <img src="https://avatars.githubusercontent.com/u/114231058?v=4" class="sample-img" />
    </div>
</section>
