@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        DateTime date = DateTime.Now;
        <p>@date</p>
        if(date.Hour < 12)
        {
            <p>It is morning on @date.ToString("dddd, dd, MMMM")</p>
        }
        else if (date.Hour >= 12 && date.Hour < 18)
        {
            <p>It is afternoon on @date.ToString("dddd, dd, MMMM")</p>
        }
        else
        {
            <p>It is evening on @date.ToString("dddd, dd, MMMM")</p>
        }
    }
</div>




